// Specific CSS for your home-page
.but-navbar{
  padding: 0 60px 0 60px;
  margin-top: 160px;
}
a{
  text-decoration: none;
  color:inherit;
}
.back-link{
  margin-top: 10px;
  color: #070046;
  font-weight: 600;
}
